body {
  text-align: center;
  background-color: #011f3f;
}

h1 {
  font-family: "Press Start 2P", cursive;
  font-size: 3rem;
  color: #fef2bf;
  height: 6rem;
  margin: 10% auto;
}

.container {
  width: 500px;
  margin: 0% auto;
}

.g {
  background-color: green;
}

.r {
  background-color: red;
}

.y {
  background-color: yellow;
}

.b {
  background-color: blue;
}

.btn {
  width: 200px;
  height: 200px;
  margin: 20px;
  border: 0.5rem solid;
  border-radius: 20%;
  display: inline-block;
  font-size: 0px;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
