<%- include('header'); -%>
      <h1>Compose</h1>
      <form action="/compose" method="post">
        <div class="mb-3">
          <label class="form-label" for="postTitle">Title</label>
          <input class="form-control" type="text" name="postTitle" id="postTitle" autocomplete="off">
        </div>
        <div class="mb-3">
          <label class="form-label" for="postBody">Post</label>
          <textarea class="form-control" type="textarea" name="postBody" id="postBody" rows="5" cols="30"></textarea>
        </div>
        <button class="btn btn-primary" type="submit">Publish</button>
      </form>
<%- include('footer'); -%>